#jeden {font-family: Helvetica;
display: flex;}
#l1 {height: 400px;
width: 70%;
background-color: snow;
text-align: center;}
#l2 {
    height: 400px;
width: 70%;
background-color: snow;
font-size: 150%;
}
#p1 {
    height: 150px;
    width: 30%;
    background-color: steelblue;
    color: white;
    text-align: center;
}
#p2 { height: 350px;
    width: 30%;
    background-color: steelblue;
    color: white;
}
#p3 {
    height: 300px;
    width: 30%;
    background-color: snow;
    text-align: center;
}
footer {background-color: steelblue;
color: white;}
h2 {font-size: 250%;}
image {
    margin: 4px;
}
image:hover {
    margin: 3px;
    border: 1px solid steelblue;
}
#dwa {
    
}