body {
    font-family: Helvetica;
}
#glowny{
    padding: 0%;
    margin: 0%;
}
main{
    margin: 0px;
}
aside{
    margin: 0px;
}
#l1 {
    text-align: center;
    height: 400px;
    background-color: snow;
    width: 70%;
}

#l2 {
    height: 400px;
    background: snow;
    color: black;
    font-size: 150%;
}

#p1 {
    height: 150px;
    background-color: steelblue;
    color: white;
    width: 30%;
}

#p2 {
    height: 350px;
    background-color: steelblue;
    color: white;
    width: 30%;
    
}

#p3 {
    height: 300px;
    background-color: snow;
    color: white;
    width: 30%;
}


footer {
    background-color: steelblue;
    color: white;
    clear: both;
}

h2 {
    font-size: 250%;
}

img {
    padding: 4px;
}

img:hover {
    padding: 3px;
    border: 1px solid steelblue;
}